**TweetyPy**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import tweepy as tweepy

In [ ]:
# authenticaing twitter api user
# consumer_key  = 'M4fmVhY4vBA4DtNxOIFvX6Eq8'
# consumer_secret = 'GugDeK1aWzN7fNszABakeNUIiHsb4CKkdrbucnPBOKVHxDu6WE'
# access_token = '4307562143-0jtF4CXWvVRmY4loDhXnoMSDwJBiYbjJLSAt1Az'
# access_token_secret = 'B88JPqU7qfQD3dBGpWIg7QGUJtLoHxZrJRqjNzzQqBLJs'

# consumer_key  = 'd9Ksoz6Wb1jD0mqbW8rjaSNb7'
# consumer_secret = 'pHXnVSJeLbOxaYlbOR7BWFdDNhZSF6IzegZV87qUSUqy6Qe8qG'
# access_token = '3648603434-dGRu1nHet22tdoYeqaAGoN8MyZrNw9oXZQvGZUD'
# access_token_secret = 'PZ8pcQBCb5zVPLRQNVQZc3Yzi0rz1wPef6O7RO7gzcvOf'

# consumer_key  = 'cyXcjxUc1ZlLD2v1DjaJrLiVI'
# consumer_secret = 'pD3mk041ROBiSSwt2C3kytR9eF1zYrX1vBD8whpDln5Zq4y1jX'
# access_token = '1279253779540410373-8ODCqefNcIvSFXSrwKH7DPhtQTda3i'
# access_token_secret = 'nVGU8WyEdGCQ2gU1qQ57NXxLpYQts4Emt1UPM6GVlYaav'


# consumer_key = 'BJZXO2O7qffWEWiBzztaI0pmz'
# consumer_secret = '1V78UxJL3ahxfeyRxchZX9OD5Se35NP0FoRVk2Kt1Q6arV1s9t'
# access_token = '1421415547607126016-Gt5QxcyBoPTQr1rKRRogxhgO46JdrW'
# access_token_secret = 'afPcI7OlTv9Vbm55ecSijEWhRIDbhPdfOnz2lnGF8qIal'

# mori account
consumer_key = 'Cq1sycJH2dda1jZCvMlqiBT7b'
consumer_secret = 'NAmkgtvnezW42U80ndOqeD8bfIZnM8KF8k9g9wl73SNa9mjfis'
access_token = '1544279124482703364-Taf0ZjnGuRW4HCfAidh4jhRK4xZ3RI'
access_token_secret = 'xtst9BPdI4AGs1itwmmXSII5J8V25D2vyRj7lKYdnqHKJ'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth , wait_on_rate_limit=True)

In [ ]:
# !wget http://infolab.tamu.edu/data/social_honeypot_icwsm_2011.zip

--2022-07-06 09:19:51--  http://infolab.tamu.edu/data/social_honeypot_icwsm_2011.zip
Resolving infolab.tamu.edu (infolab.tamu.edu)... 45.55.217.29
Connecting to infolab.tamu.edu (infolab.tamu.edu)|45.55.217.29|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://infolab.tamu.edu/data/social_honeypot_icwsm_2011.zip [following]
--2022-07-06 09:19:52--  https://infolab.tamu.edu/data/social_honeypot_icwsm_2011.zip
Connecting to infolab.tamu.edu (infolab.tamu.edu)|45.55.217.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 263659672 (251M) [application/zip]
Saving to: ‘social_honeypot_icwsm_2011.zip’

social_honeypot_icw 100%[===================>] 251.45M  16.0MB/s    in 18s

2022-07-06 09:20:11 (13.8 MB/s) - ‘social_honeypot_icwsm_2011.zip’ saved [263659672/263659672]

In [ ]:
# !unzip social_honeypot_icwsm_2011.zip

Archive:  social_honeypot_icwsm_2011.zip
   creating: social_honeypot_icwsm_2011/
  inflating: social_honeypot_icwsm_2011/content_polluters.txt
   creating: __MACOSX/
   creating: __MACOSX/social_honeypot_icwsm_2011/
  inflating: __MACOSX/social_honeypot_icwsm_2011/._content_polluters.txt
  inflating: social_honeypot_icwsm_2011/content_polluters_followings.txt
  inflating: __MACOSX/social_honeypot_icwsm_2011/._content_polluters_followings.txt
  inflating: social_honeypot_icwsm_2011/content_polluters_tweets.txt
  inflating: __MACOSX/social_honeypot_icwsm_2011/._content_polluters_tweets.txt
  inflating: social_honeypot_icwsm_2011/legitimate_users.txt
  inflating: __MACOSX/social_honeypot_icwsm_2011/._legitimate_users.txt
  inflating: social_honeypot_icwsm_2011/legitimate_users_followings.txt
  inflating: __MACOSX/social_honeypot_icwsm_2011/._legitimate_users_followings.txt
  inflating: social_honeypot_icwsm_2011/legitimate_users_tweets.txt
  inflating: __MACOSX/social_honeypot_icwsm_2011/._legitimate_users_tweets.txt
  inflating: social_honeypot_icwsm_2011/social_honeypot_icwsm_2011.pdf
  inflating: __MACOSX/social_honeypot_icwsm_2011/._social_honeypot_icwsm_2011.pdf
  inflating: __MACOSX/._social_honeypot_icwsm_2011

In [ ]:
import pandas as pd
import numpy as np
import re, string

In [ ]:
def func(string):
   return pd.Series(string.split(',')).astype(int)
  
  
dfContent_polluters = pd.read_csv('social_honeypot_icwsm_2011/content_polluters.txt',sep='\t', names=
                 ["UserID","CreatedAt","CollectedAt","NumberOfFollowings","NumberOfFollowers",
                  "NumberOfTweets","LengthOfScreenName","LengthOfDescriptionInUserProfile"],
                parse_dates=["CreatedAt","CollectedAt"])

dfLegitimate_users = pd.read_csv('social_honeypot_icwsm_2011/legitimate_users.txt',sep='\t', names=
                 ["UserID","CreatedAt","CollectedAt","NumberOfFollowings","NumberOfFollowers",
                  "NumberOfTweets","LengthOfScreenName","LengthOfDescriptionInUserProfile"],
                parse_dates=["CreatedAt","CollectedAt"])

In [ ]:
dfContent_polluters

,UserID,CreatedAt,CollectedAt,NumberOfFollowings,NumberOfFollowers,NumberOfTweets,LengthOfScreenName,LengthOfDescriptionInUserProfile
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70
...,...,...,...,...,...,...,...,...
22218,173715049,2010-08-01 23:56:35,2010-08-02 02:49:27,63,10,29,12,0
22219,173718053,2010-08-02 00:10:03,2010-08-02 03:37:07,83,10,35,8,0
22220,173721018,2010-08-02 00:23:30,2010-08-02 03:37:08,67,9,21,13,0
22221,173723395,2010-08-02 00:34:24,2010-08-02 02:49:28,35,4,17,12,0
22222,173766965,2010-08-02 04:02:53,2010-08-02 04:48:51,12,0,1,13,0

In [ ]:
import timeit

start = timeit.default_timer()

In [ ]:
def get_user_id(data_frame) :
  df = pd.DataFrame({"UserID":data_frame["UserID"]})
  return df

In [ ]:
data_set_polluters = get_user_id(dfContent_polluters)

data_set_legitimate = get_user_id(dfLegitimate_users)

In [ ]:
data_set_polluters.insert(0,"Class",1)
data_set_legitimate.insert(0,"Class",0)

In [ ]:
data_set_users=pd.concat([data_set_polluters,data_set_legitimate])

In [ ]:
data_set_users

       Class    UserID
0          1      6301
1          1     10836
2          1     10997
3          1    633293
4          1    717883
...      ...       ...
19271      0  93390990
19272      0  93402679
19273      0  93419256
19274      0  93426370
19275      0  93442002

[41499 rows x 2 columns]

In [ ]:
def func(string):
   return pd.Series(string.split(',')).astype(int)

In [ ]:

def folowersSTD(user) :
    freiend_list = ''
    friends = api.friends(id=user)[:10]
    # print(len(friends))
    for friend in friends:
        freiend_list = freiend_list+str(friend.id)+','
    # print(func(freiend_list[:-1]))
    vari = func(freiend_list[:-1])
    return vari.std()

In [ ]:
from datetime import datetime
now = datetime.now()
 
print("now =", now)
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2022-07-06 09:26:30.007138
date and time = 06/07/2022 09:26:30

In [ ]:
def getTweets(user) :
    tweets = api.user_timeline(id=user, 
                           # 200 is the maximum allowed count
                           count=20,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    return tweets

In [ ]:
f_account = open('/content/drive/MyDrive/users_account.txt', 'w')

In [ ]:
f_tweet = open('/content/drive/MyDrive/users_tweets.txt', 'w')

In [ ]:
len(data_set_users['UserID'])

41499

In [ ]:
import time

In [ ]:
notExistUser = []
for seed_id in data_set_users['UserID'][:100]:
    print("***************** seed_id ", seed_id)
    for userid in seed_id[]
    try:
        # print(friend.screen_name)
        f_account.write(friend.screen_name)
        f_account.write('\t')
        # print(friend.id)
        f_account.write(str(friend.id))
        f_account.write('\t')
        # print(friend.created_at)
        f_account.write(str(friend.created_at))
        f_account.write('\t')
        # print(now)
        f_account.write(str(now))
        f_account.write('\t')
        # print(friend.friends_count)
        f_account.write(str(friend.friends_count))
        f_account.write('\t')
        # print(friend.followers_count)
        f_account.write(str(friend.followers_count))
        f_account.write('\t')
        # print(friend.statuses_count)
        f_account.write(str(friend.statuses_count))
        f_account.write('\t')
        # print(len(friend.screen_name))
        f_account.write(str(len(friend.screen_name)))
        f_account.write('\t')
        # print(folowersSTD(friend.id))
        f_account.write(str(folowersSTD(friend.id)))
        f_account.write('\t')
        f_account.write('\n')
    except Exception as e: 
          print(e) 
          notExistUser.append(seed_id)
          time.sleep(10)
          pass

***************** seed_id  6301
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  10836
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  10997
invalid literal for int() with base 10: ''
***************** seed_id  633293
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  717883
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  763068
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  783705
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  788352
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  810011
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  815299
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  817045
Not authorized.
***************** seed_id  964981
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  1091571
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  1303381
Not authorized.
***************** seed_id  1322691
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
Not authorized.
***************** seed_id  1599001
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  1907361
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  2077351
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  2157321
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  2219081
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  2243161
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  2269491
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  2695911
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  2884771
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  3060631
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  3076591
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  3136731
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  3291901
Not authorized.
***************** seed_id  3881391
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  3908631
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  4000261
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  4046051
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  4319321
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  4567451
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  5169871
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  5414782
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  5439702
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  5609382
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  5693062
Not authorized.
[{'code': 34, 'message': 'Sorry, that page does not exist.'}]
***************** seed_id  5751742
Not authorized.
***************** seed_id  5775622
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  5925162
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  5925682
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
invalid literal for int() with base 10: ''
***************** seed_id  5971902
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
[{'code': 34, 'message': 'Sorry, that page does not exist.'}]
***************** seed_id  6087712
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
[{'code': 34, 'message': 'Sorry, that page does not exist.'}]
Not authorized.
***************** seed_id  6267832
***************** seed_id  6332272
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  6333392
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  6356472
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  6774442
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  6859412
tweet  ---------------------------------
Not authorized.
***************** seed_id  6861662
***************** seed_id  6871812
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  6901952
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  6902602
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
Not authorized.
Not authorized.
***************** seed_id  7082702
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  7087112
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
Not authorized.
***************** seed_id  7103212
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  7159492
Not authorized.
***************** seed_id  7251502
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
***************** seed_id  7283562
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------
tweet  ---------------------------------

In [ ]:
for seed_id in data_set_users['UserID'][:2000]:
    try:
        tweet = getTweets(friend.id)
        for info in tweet[:50]:
            f_tweet.write(str(friend.id))
            f_tweet.write('\t')
            # print("ID: {}".format(info.id))
            f_tweet.write(str(format(info.id)))
            f_tweet.write('\t')
            # print(info.created_at)
            f_tweet.write(str(info.created_at))
            f_tweet.write('\t')
            # print(info.full_text)
            f_tweet.write(info.full_text.replace("\n", ""))
            f_tweet.write('\t')
            f_tweet.write('\n')
    except Exception as e: 
          print(e) 
          time.sleep(180) 
          pass

In [ ]:
f_account.close()
f_tweet.close()

NameError: ignored

In [ ]:
stop = timeit.default_timer()

print('Time: ', stop - start)